<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>User</key>
	<dict>
		<key>skill-point</key>
		<dict>
			<key>protoss</key>
			<integer>0</integer>
			<key>terran</key>
			<integer>0</integer>
			<key>zerg</key>
			<integer>0</integer>
		</dict>
		<key>level</key>
		<dict>
			<key>protoss</key>
			<integer>0</integer>
			<key>terran</key>
			<integer>0</integer>
			<key>zerg</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>Missions</key>
	<array>
		<dict>
			<key>name</key>
			<string>Aiur</string>
			<key>wave</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Char</string>
			<key>wave</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Korhal</string>
			<key>wave</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Marsara</string>
			<key>wave</key>
			<integer>20</integer>
		</dict>
	</array>
	<key>Settings</key>
	<dict>
		<key>language</key>
		<string></string>
		<key>sound</key>
		<dict>
			<key>effect</key>
			<dict>
				<key>mute</key>
				<false/>
				<key>volume</key>
				<integer>50</integer>
			</dict>
			<key>music</key>
			<dict>
				<key>mute</key>
				<false/>
				<key>volume</key>
				<integer>50</integer>
			</dict>
		</dict>
		<key>graphics</key>
		<dict>
			<key>texture</key>
			<dict>
				<key>quality</key>
				<integer>0</integer>
				<key>antialias</key>
				<true/>
			</dict>
			<key>graphics</key>
			<dict>
				<key>quality</key>
				<integer>0</integer>
				<key>shaders</key>
				<integer>0</integer>
				<key>lighting</key>
				<integer>0</integer>
				<key>shadows</key>
				<integer>0</integer>
				<key>post-processing</key>
				<integer>0</integer>
				<key>physics</key>
				<integer>0</integer>
				<key>models</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
	<key>Upgrades</key>
	<dict>
		<key>attack-rate</key>
		<integer>0</integer>
		<key>attack-bound</key>
		<integer>0</integer>
		<key>attack-speed</key>
		<integer>0</integer>
		<key>defense-rate</key>
		<integer>0</integer>
		<key>health-rate</key>
		<integer>0</integer>
	</dict>
	<key>Enemies</key>
	<dict>
		<key>protoss</key>
		<array>
			<dict>
				<key>name</key>
				<string>zealot</string>
				<key>amount</key>
				<integer>10</integer>
				<key>move-speed</key>
				<integer>0</integer>
				<key>health</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>amount</key>
				<string></string>
				<key>move-speed</key>
				<string></string>
				<key>health</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>amount</key>
				<string></string>
				<key>move-speed</key>
				<string></string>
				<key>health</key>
				<string></string>
			</dict>
		</array>
		<key>terran</key>
		<array>
			<dict>
				<key>name</key>
				<string></string>
				<key>amount</key>
				<string></string>
				<key>move-speed</key>
				<string></string>
				<key>health</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>amount</key>
				<string></string>
				<key>move-speed</key>
				<string></string>
				<key>health</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>amount</key>
				<string></string>
				<key>move-speed</key>
				<string></string>
				<key>health</key>
				<string></string>
			</dict>
		</array>
		<key>zerg</key>
		<array>
			<dict>
				<key>name</key>
				<string></string>
				<key>amount</key>
				<string></string>
				<key>move-speed</key>
				<string></string>
				<key>health</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>amount</key>
				<string></string>
				<key>move-speed</key>
				<string></string>
				<key>health</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>amount</key>
				<string></string>
				<key>move-speed</key>
				<string></string>
				<key>health</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>Towers</key>
	<dict>
		<key>protoss</key>
		<array>
			<dict>
				<key>name</key>
				<string></string>
				<key>attack-rate</key>
				<integer>0</integer>
				<key>attack-speed</key>
				<integer>0</integer>
				<key>attack-bound</key>
				<integer>0</integer>
				<key>cost</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>attack-rate</key>
				<integer>0</integer>
				<key>attack-speed</key>
				<integer>0</integer>
				<key>attack-bound</key>
				<integer>0</integer>
				<key>cost</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>attack-rate</key>
				<integer>0</integer>
				<key>attack-speed</key>
				<integer>0</integer>
				<key>attack-bound</key>
				<integer>0</integer>
				<key>cost</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>terran</key>
		<array>
			<dict>
				<key>name</key>
				<string></string>
				<key>attack-rate</key>
				<integer>0</integer>
				<key>attack-speed</key>
				<integer>0</integer>
				<key>attack-bound</key>
				<integer>0</integer>
				<key>cost</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>attack-rate</key>
				<integer>0</integer>
				<key>attack-speed</key>
				<integer>0</integer>
				<key>attack-bound</key>
				<integer>0</integer>
				<key>cost</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>attack-rate</key>
				<integer>0</integer>
				<key>attack-speed</key>
				<integer>0</integer>
				<key>attack-bound</key>
				<integer>0</integer>
				<key>cost</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>zerg</key>
		<array>
			<dict>
				<key>name</key>
				<string></string>
				<key>attack-rate</key>
				<integer>0</integer>
				<key>attack-speed</key>
				<integer>0</integer>
				<key>attack-bound</key>
				<integer>0</integer>
				<key>cost</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>attack-rate</key>
				<integer>0</integer>
				<key>attack-speed</key>
				<integer>0</integer>
				<key>attack-bound</key>
				<integer>0</integer>
				<key>cost</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>attack-rate</key>
				<integer>0</integer>
				<key>attack-speed</key>
				<integer>0</integer>
				<key>attack-bound</key>
				<integer>0</integer>
				<key>cost</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
