<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Base</key>
	<dict>
		<key>protoss</key>
		<dict>
			<key>name</key>
			<string>Nexus</string>
		</dict>
		<key>terran</key>
		<dict>
			<key>name</key>
			<string>Nexus</string>
		</dict>
		<key>zerg</key>
		<dict>
			<key>name</key>
			<string>Nexus</string>
		</dict>
	</dict>
	<key>User</key>
	<dict>
		<key>mission</key>
		<integer>0</integer>
		<key>race</key>
		<integer>0</integer>
		<key>skill-point</key>
		<integer>0</integer>
		<key>level</key>
		<dict>
			<key>protoss</key>
			<integer>0</integer>
			<key>terran</key>
			<integer>0</integer>
			<key>zerg</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>Missions</key>
	<array>
		<dict>
			<key>name</key>
			<string>Aiur</string>
			<key>wave</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Char</string>
			<key>wave</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Korhal</string>
			<key>wave</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Marsara</string>
			<key>wave</key>
			<integer>20</integer>
		</dict>
	</array>
	<key>Settings</key>
	<dict>
		<key>language</key>
		<string></string>
		<key>sound</key>
		<dict>
			<key>effect</key>
			<dict>
				<key>enable</key>
				<true/>
				<key>volume</key>
				<real>0.5</real>
			</dict>
			<key>music</key>
			<dict>
				<key>enable</key>
				<true/>
				<key>volume</key>
				<real>0.5</real>
			</dict>
		</dict>
		<key>graphics</key>
		<dict>
			<key>texture</key>
			<dict>
				<key>quality</key>
				<integer>0</integer>
				<key>antialias</key>
				<true/>
			</dict>
			<key>graphics</key>
			<dict>
				<key>quality</key>
				<integer>0</integer>
				<key>shaders</key>
				<integer>0</integer>
				<key>lighting</key>
				<integer>0</integer>
				<key>shadows</key>
				<integer>0</integer>
				<key>post-processing</key>
				<integer>0</integer>
				<key>physics</key>
				<integer>0</integer>
				<key>models</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
	<key>Upgrades</key>
	<dict>
		<key>attack-rate</key>
		<integer>0</integer>
		<key>attack-bound</key>
		<integer>0</integer>
		<key>attack-speed</key>
		<integer>0</integer>
		<key>defense-rate</key>
		<integer>0</integer>
		<key>health-rate</key>
		<integer>0</integer>
	</dict>
	<key>Enemies</key>
	<array>
		<dict>
			<key>name</key>
			<string>Tank</string>
			<key>move-speed</key>
			<integer>3</integer>
			<key>health</key>
			<integer>200</integer>
			<key>amount</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Hellion</string>
			<key>move-speed</key>
			<integer>8</integer>
			<key>health</key>
			<integer>70</integer>
			<key>amount</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Sentry</string>
			<key>move-speed</key>
			<integer>5</integer>
			<key>health</key>
			<integer>70</integer>
			<key>amount</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>VoidRay</string>
			<key>move-speed</key>
			<integer>4</integer>
			<key>health</key>
			<integer>150</integer>
			<key>amount</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>BroodLord</string>
			<key>move-speed</key>
			<integer>7</integer>
			<key>health</key>
			<integer>110</integer>
			<key>amount</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Overseer</string>
			<key>move-speed</key>
			<integer>6</integer>
			<key>health</key>
			<integer>60</integer>
			<key>amount</key>
			<integer>15</integer>
		</dict>
	</array>
</dict>
</plist>
